{foreach $websiteElementValueHeader as $page_footer}
    <div class="row">
        <div class="col">
            <footer class="footer bg-light p-5" id="page_footer-{$page_footer}">
                <p class="text-center text-muted bg-light"> {$page_footer->main_title|upper}</p>
            </footer>
        </div>
    </div>
{/foreach}