{foreach $websiteElementValueHeader as $page_footer}
    <footer class="footer bg-light p-5" id="page_footer-{$page_footer}">
        <p class="text-center text-muted bg-light"> {$page_footer->main_title|upper}</p>
    </footer>
{/foreach}