application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


parameters:
    database:
        driver: mysql
        host: localhost
        port: 3306
        dbname: test
        user: newuser
        password: password
        #dbname: articles

#database:
 #       dsn: '%database.driver%:host=%database.host%;port:%database.port%;dbname=articles'
  #      user: %database.user%
   #     password: %database.password%

# Konfigurace databázového připojení v rámci celé aplikace.
database:
    dsn: 'mysql:host=localhost;dbname=blog' # Typ, adresa a název databáze
    user: newuser  # Uživatelské jméno
    password: pltkrcni # Heslo
    options:
       lazy: yes

#extensions:
 #   texy: Lookyman\NetteTexy\DI\TexyExtension

