parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

# Konfigurace databázového připojení v rámci celé aplikace.
database:
    dsn: 'mysql:host=localhost;dbname=articles' # Typ, adresa a název databáze
    user:  root
    password: some_pass
    options:
        lazy: yes

session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	- App\Presenters\ArticlePresenter(url)
	- App\Model\ArticleManager
