<table class="table">

    <tr>
        <th>#</th>
        <th>username</th>
        <th>role</th>
        <th>url</th>
        <th>action</th>
    </tr>
    {foreach $userValue as $userOutput}

       <div class="userDetail">
           <h2 class="userName">
               <a href="#">{$userOutput->username}</a>
           </h2>
           <p><i>{$userOutput->sign}</i></p>
       </div>


    {/foreach}
</table>
